name: Trigger auto deployment for maarous0911-add-numbers

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - '**'
    - '.github/workflows/maarous0911-add-numbers-AutoDeployTrigger-1321e0f3-1ae3-4993-8999-d04a24396780.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.MAAROUS0911ADDNUMBERS_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.MAAROUS0911ADDNUMBERS_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.MAAROUS0911ADDNUMBERS_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: docker.io
          registryUsername: ${{ secrets.MAAROUS0911ADDNUMBERS_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.MAAROUS0911ADDNUMBERS_REGISTRY_PASSWORD }}
          containerAppName: maarous0911-add-numbers
          resourceGroup: demo
          imageToBuild: maarousamad/maarous0911-add-numbers:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


